.container{
margin: 0 auto;
display: block;
max-width: 1100px;
}

#game-container {
  width: 1000px;
  height: 500px;
  background-image: url(/media/background-image.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

#easter-egg-1{
    width: 30px;
}
.easter-egg{
    display: none;
    position: absolute;
}

.settings{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 1000px;
}